
<body class="d-flex flex-column">
    <app-header></app-header>
    <!-- Login Component -fuild-->
    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <h1>Login</h1>
                    <p>Access your account</p>
                </div>
                <div class="col-md-12 col-sm-12 col-12 outerCard">
                    <div class="row">
                        <div class="col-md-8 loginCard">
                            <div class="card">
                                <div class="card-body">
                                    <form [formGroup]="loginForm" (ngSubmit)="requestLogin()"  autocomplete="off">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label class="form-label"> Username <!-- <span class="form-required">*</span> --> </label>
                                                    <input type="text" class="form-control" id="userName" name="userName" formControlName="userName"
                                                    [ngClass]="{ 'is-invalid': submitted && loginForm.get('userName').errors}" placeholder="Username">
                                                    <div class="invalid-feedback" *ngIf="loginForm.get('userName').hasError('required')"> Please enter this information </div>
                                                    <div class="invalid-feedback" *ngIf="loginForm.get('userName').hasError('maxlength')"> Username length reached maximum </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <label class="form-label">Password </label>
                                                    <input type="password" id="password" name="password" class="form-control" formControlName="password" 
                                                    [ngClass]="{ 'is-invalid': submitted && loginForm.get('password').errors}" placeholder="Password">
                                                    <div class="invalid-feedback" *ngIf="loginForm.get('password').hasError('required')"> Please enter this information </div>
                                                    <div class="invalid-feedback" *ngIf="loginForm.get('password').hasError('minlength')"> Password length is to less </div>
                                                    <div class="invalid-feedback" *ngIf="loginForm.get('password').hasError('maxlength')"> Password length reached maximum </div>
                                                    <!-- maxlength -->
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h6 class="mb-0"><a href="javascript:void(0);" class="text-primary">Forgot password?</a></h6>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="float-right">
                                                    <button class="btn  btn-secondary btn-raised" type="submit">Login</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 notMember">
                            <div class="">
                                <p>Not a member?</p>
                                <button type="button" class="btn btn-raised btn-secondary" [routerLink]=" ['/register'] ">Register Today</button>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>